/* LAYOUT SETUP */
body {
  align-items: center;
  flex-direction: row;
  display: flex;
  height: 100svh;
  justify-content: center;
  background-image: url("/assets/images/bgImage01.png");
  background-repeat: repeat;
  background-size: 900px;
}

.grid {
  /* margin: var(--padding-vert) var(--padding-hori); */
  width: 60svw;
  /* padding: var(--padding-vert) var(--padding-hori); */
  display: grid;
  height: 75svh;
  grid-template-columns: minmax(300px, 0.5fr) minmax(300px, 1fr); /* Side with min-width of 300px */
  grid-template-rows: auto 1fr; /* Single row layout */
  grid-gap: var(--space-vertical); /* Gap between grid items */
  grid-template-areas: 
  "wip wip"
  "side main";
}

.side {
  height: auto; /* Height based on content */
  grid-column: 1; /* Ensure side is in the first column */
  grid-area: side;
}

.wip {
  background-color: var(--light-green);
  padding: 1rem;
  border-radius: 1rem;
  grid-area: wip;
}

.wip h1 {
  margin-bottom: 0; text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

header {
  margin-bottom: var(--space-vertical);
  background-color: var(--light-green);
  padding: 1rem;
  border-radius: 1rem;
}

.info {
  background-color: var(--light-green);
  padding: 1rem;
  border-radius: 1rem;
}

main {
  overflow-y: auto; /* Enable vertical scrolling */
  min-height: fit-content;
  max-height: 100%; /* Fill vertical space */
  grid-column: 2; /* Ensure main is in the second column */
  grid-area: main;
}

.process {
  background-color: var(--light-green);
  padding: 1rem;
  border-radius: 1rem;
  height: fit-content
}

/* DETAILS */
summary {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  line-height: var(--summary-line-height);
  letter-spacing: 0.25px;
}

details > summary {
  cursor: pointer;
  list-style-type: none;
  padding-left: var(--details-indent);
  position: relative;
}

details > summary::before {
  content: attr(data-icon);
  font-size: 1rem;
  font-size: 1.3rem;
  left: 0;
  position: absolute;
}

details:has(+ details) {
  margin: 0 0 1rem 0;
}
details[open]:has(+ details) {
  margin-bottom: 1.25rem;
}

details > p:first-of-type {
  margin-top: 0.15rem;
}
details > p:last-of-type, header > p:last-of-type, main > p:last-of-type {
  margin-bottom: 0;
}
details > p {
  margin-left: var(--details-indent);
}

/* IMAGES */
figcaption {
  background-color: var(--light-green);
  color: var(--darkest-green);
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 0.2rem;
  padding: 0.15rem 0.3rem 0.05rem 0.3rem;
  text-transform: uppercase;
  width: fit-content;
  font-weight: bold;
}

figure + figure {
  /*figure followed by figure */
  margin-top: 1rem;
}

/* TEXT */
/* HEADINGS */
h1 {
  font-size: 2.25rem;
  margin: 0 0 0.5rem 0;
  line-height: 1;
}

/* PARAGRAPH */
/* h1 + p {
  margin-bottom: 0;
} */

p {
  line-break: auto;
  word-wrap: break-word;
  margin-bottom: 1.25rem;
  text-wrap: pretty;
  color: var(--darkest-green);
  -webkit-text-stroke: var(--text-stroke) var(--darkest-green);
  text-stroke: var(--text-stroke) var(--darkest-green);
}

/* LINKS */
a {
  -webkit-box-decoration-break: clone;
  background-color: var(--green);
  color: var(--darkest-green);
  border-radius: 0.4rem;
  box-decoration-break: clone;
  line-break: auto;
  margin: 0 -6px;
  padding: 1px 6px 2px 6px;
  text-decoration: none;
  word-wrap: break-word;
  font-weight: bold;
font-size: 0.9rem;
  display: inline;
  -webkit-text-stroke: 0 var(--darkest-green);
  text-stroke: 0 var(--darkest-green);
}

/* OTHER */
ul {
  list-style: none;
  color: var(--darkest-green);
  -webkit-text-stroke: var(--text-stroke) var(--darkest-green);
  text-stroke: var(--text-stroke) var(--darkest-green);
  margin-bottom: 1.5rem;
}

details > ul {
  margin-left: var(--details-indent);
}

/* Stacking logic using media queries */
@media (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    height: 90svh;
    grid-gap: var(--space-vertical) 0;
    width: 80svw;
  }

  .side {
    grid-column: 1;
    grid-row: 2;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }
}
