/* ROOT */
:root {
    --details-indent: 2rem;
    --gap: calc(1rem + 1.5svw);
    --space-vertical: calc(0.5rem + 1svh);
    --summary-line-height: 1.1;
    --text-stroke: 0.25px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
	font-family: 'Courier New';
    font-size: 14px;
    scroll-behavior: smooth;
    letter-spacing: -0.25px;
    line-height: 1.5;
}
img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6, summary {
    text-wrap: balance;
	font-family: 'Courier New';
	font-weight: bold;
}

/* LAYOUT SETUP */
body {
    align-items: center;
    display: flex;
    height: 100svh;
    justify-content: center;
}

.info, header {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
}
.side {
  flex: 1 1 33%;
  min-width: 300px;
  position: sticky;
  top: 0;
}


header {
    margin-bottom: var(--space-vertical);
}

.grid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    height: 90svh;
    min-width: 300px;
    overflow-y: hidden;
    width: 70svw;
}

main {
  flex: 999;
  height: 100%;
  min-inline-size: 60%;
  overflow-y: scroll;
}

/* DETAILS */
summary {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    line-height: var(--summary-line-height);
    letter-spacing: 0.25px;
}

details > summary {
    cursor: pointer;
    list-style-type: none;
    padding-left: var(--details-indent);
    position: relative;
}

details > summary::before {
  content: attr(data-icon);
  font-size: 1rem;
  font-size: 1.3rem;
  left: 0;
  position: absolute;
}

details:has(+ details) {
      margin: 0 0 1rem 0;
  }
details[open]:has(+ details) {
  margin-bottom: 1.25rem ;
}

details > p:first-of-type {
  margin-top: 0.15rem;
}
details > p:last-of-type {
  margin-bottom: 0;
}
details > p {
    margin-left: var(--details-indent);
}


/* IMAGES */
figcaption {
    background-color: peru;
    color: black;
    display: block;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0.2rem;
    padding: 0.15rem 0.3rem 0.05rem 0.3rem;
    text-transform: uppercase;
    width: fit-content;
}

figure+figure {  /*figure followed by figure */
 margin-top: 1rem;
}

/* TEXT */
/* HEADINGS */
h1 {
    font-size: 2.25rem;
    margin: 0 0 0.5rem 0;
    line-height: 1;
}

/* PARAGRAPH */
h1 + p {
      margin-bottom: 0;
  }

p {
    line-break: auto;
    word-wrap: break-word;
    margin-bottom: 1.25rem;
    text-wrap: pretty;
    -webkit-text-stroke: var(--text-stroke) black;
    text-stroke: var(--text-stroke) black;
}

/* LINKS */
a {
    -webkit-box-decoration-break: clone;
    background-color: rgba(26, 155, 123, 0.5);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    line-break: auto;
    margin: 0 -6px;
    padding: 1px 6px 2px 6px;
    text-decoration: none;
    word-wrap: break-word;
    font-weight: normal;
	font-style: italic;
    display: inline;

}

/* OTHER */
ul {
    list-style: none;
    -webkit-text-stroke: var(--text-stroke) black;
    text-stroke: var(--text-stroke) black;
    margin-bottom: 1.5rem;
}

details > ul {
    margin-left: var(--details-indent);
}