<section class="info">
    <details name="details-block">
        <summary data-icon="🌷">
           A short history of the domain name
        </summary>
            <p>I found the domain name, screenshot.garden, on the 12th of September, 2024 while searching for screenshot gardens on <a href="https://www.are.na">are.na</a>.</p>
            <p><a href="https://web.archive.org/web/20210718193216/https://screenshot.garden/">In 2021, it was owned by someone who was also inspired by Everest Pipkin's screenshot garden!</a></p>
    </details>
    <details name="details-block">
        <summary data-icon="🌼">
           Colophon
        </summary>
            <p>I built this website with the assistance of Chat GPT using eleventy, Github (view source code) and netlify. <a href="pages/process">You can read a long ramble / explanantion I wrote about how I got here if you want.</a>
            </p>
            <p>
                <a href="https://everest-pipkin.com">Everest Pikpin</a> wrote <a href="https://screenshot-garden.neocities.org/build-your-own">a tutorial about how to make your own screenshot garden</a> on <a href="https://www.neocities.com">Neocities</a> but it only works on Mac and Linux. <a href="https://web.archive.org/web/20210718193216/https://screenshot.garden/">The OG screenshot.garden</a> created their screenshot garden with "a variation of a bash script written by <a href="https://nnnnnnnn.co/">Brian Crabtree</a>". I use a Windows computer and do not know anything about Bash so I did not not use either of these methods.</p>
    </details>
    <details name="details-block">
        <summary data-icon="🌻">
            More screenshot gardens
        </summary>
            <ul class="garden-links">
                <li><a href="https://screenshot-garden.neocities.org"> ____ screenshot garden ____</a></li>
                <li><a class="chunk-link" href="https://viewportaesthetics.tumblr.com">For the Love of Screenshots</a></li>
                <li><a href="https://web.archive.org/web/20210718193216/https://screenshot.garden/">The OG screenshot.garden from 2021</a></li>
                <li><a href="https://jonsatrom.com/screenshots/">Jon Satrom</a></li>
                <li><a  href="https://onemillionscreenshots.com">One Million Screenshots</a></li>
            </ul>
            <p>If you have or know any screenshot gardens that I can add to this list, please let me know by emailing: <a href="mailto:samanthariegl@gmail.com">samanthariegl (at) gmail (dot) com</a></p>
    </details>
</section>